<!DOCTYPE html>
<html lang="{{ site.meta.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% set title = about.name %}
    <title>{{ title }} Marketing Deck</title>

    {# {% include "components/meta.njk" %} #}
    <meta name="description" content="{{ about.bio }}">
    <meta name="author" content="{{ about.name }}">
    <meta name="copyright" content="{{ about.name }}">
    <meta name="theme-color" content="#{{ brand.color_background }}">

    {# Icons #}
    {% set favicon = brand.logo or about.image.src %}
    <link rel="icon" type="image/ico" href="{{ favicon }}">
    <link rel="apple-touch-icon" href="{{ favicon }}">

    <style>
    :root {
      --color-background: #{{ brand.color_background }};
      --color-text: #{{ brand.color_text }};
    }
    </style>
    <link rel="stylesheet" href="assets/styles.css" />

    {# Dark Mode Handler #}
    <script>(localStorage.getItem('darkMode') === 'true') && document.documentElement.classList.add('dark');</script>
    
  </head>
  <body class="">
    <a class="sr-skip-link" href="#main">Skip to content</a>

    <main id="main" tabindex="-1">
      {% include "about.njk" %}
      {% include "stats.njk" %}
      {{ content | safe }}
      {% include "cta.njk" %}
    </main>

  </body>
</html>